$first-Color: #849bff;
$backGround: #cff8be;
$backgroundColor:#d9c8e2;
$lettersColor:#676077;
$complementColor:#ffffff;
$omplementColor2:#f4bb42;
$fontTitle:'Courgette', cursive;
$fontContent: 'Berkshire Swash', cursive;

$media: (
  mobile: 576px,
  tablet:768px,
  desktop: 992px
);