@import './variables';
$media: (
  mobile: 576px,
  tablet:768px,
  desktop: 992px
);

@mixin flex($direction,$wrap,$just,$align){
  display: flex;
  flex-flow: $direction $wrap ;
  justify-content: $just;
  align-items: $align;
}

@mixin responsive ($medida: map-get($media, mobile)){
 @media screen and (min-width: $medida) {
  @content;
 }
}