@import './variables';
@import './mixins.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
  font-family: $fontTitle;
  color: $lettersColor;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr auto;
  grid-template-areas:  
    "header "
    "main"
    "footer";
  min-height: 100vh;
}

// Header
.navContainer{
  background-color: $backGround;
  font-family: $fontTitle;
  font-weight: bold;
  font-family: 1.3rem;
  a {
    color: $first-Color;
    &:hover {
      color: $lettersColor ;
    }
  }
  
}
.containerFooter {
  width: 100%;
  height: 50px;
  background-color: $backGround; 
  @include flex(row,nowrap,space-between,center);

  span{
    font-family: $fontContent;
    color: $lettersColor;
    margin-left: 20px;
  }

  i {
    font-size: 1.6rem;
    margin-right: 20px;
  }

  a {
    text-decoration: none;
    color:$first-Color;
    &:hover {
      color: $lettersColor;
    }
  }
  
}

// Main
.contents {
  max-width: 500px;
  width:  98%;
  margin: 0 auto;
  margin-top: 2.5rem;
  height: 200px;
  text-align: center;
  @include responsive(768px){
    max-width: 600px;
    font-size: 1.2rem;
  }
  @include responsive(992px){
    text-align: left;
    margin: 3rem 0 0 20px;
    p{
      margin-left: 20px;
      z-index: 1;
    }
  }
}

.cardsArea{
  max-width: 575px;
  width: 98%;
  margin: 0 auto;
  height: auto;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 300px 600px;
  grid-template-areas: 
  "card"
  "card1";
  justify-content: center;

  @include responsive(768px){
    max-width: 675px;
    grid-template-columns: 450px;
  }
  @include responsive(992px){
    margin-top: 50px;
    max-width: 990px;
    grid-template-columns: 600px,450px;
    grid-template-rows: 400px;
    grid-template-areas: 
    "card card1";
  }

 .cardIndex{
    max-width: 350px;
    height: 280px;
    background-color: $first-Color;
    grid-area: card;
    border-radius: 8px;
    @include flex(column, nowrap,center,space-between);

    h3{
      padding: 0 0 20px 10px;
    }
    p{
      padding-left: 20px;
      line-height: 0px;
    }

    @include responsive(768px){
      max-width: 450px;

      h3{
       padding-left: 40px; 
      }
      p{
        font-size: 1.4rem;
        line-height: 4px;
      }
    }
    @include responsive(992px){
      max-width: 600px;
      height: 400px    
    }
  } 
    
 .cradsContainer{
    max-width: 350px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: repear(2,1fr);
    grid-template-areas:
      "card_1"
      "card_2";
    row-gap: 1rem;
    grid-area: card1;
    @include responsive(768px){
      max-width: 400px; 
      width: 99%;
      margin: 0 auto;
    }
    @include responsive(992px){
      max-width: 600px;
      grid-template-columns: 600px,3300px;
      row-gap: 0rem;
    }

    .cardIndex2{
      @include flex(column,nowrap,center,center);
      background-color: $omplementColor2;
      grid-area:card_1;
      border-radius: 8px;

      i{
        font-size: 4rem;
        color:$backGround
      }
      @include responsive(768px){
        p{
          font-size: 1.2rem
        }
      }
      @include responsive(992px){
        width: 300px;
        height: 200px;
        grid-template-rows: repeat(2,300px);
      }
    }

    .cardIndex3{
      @include flex(column,nowrap,center,center);
      background-color: $backGround;
      grid-area: card_2;
      border-radius: 8px;

      i{
        font-size: 4rem;
        color: $lettersColor;
      }
      @include responsive(768px){
        p{
          font-size: 1.2rem
        }
      }
      @include responsive(992px){
        width: 300px;
        height: 200px;
        grid-template-rows: repeat(2,300px);
      }
    }
 }
}

.contents_1{
  max-width: 500px;
  width: 98%;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  @include responsive(768px){
    max-width: 600px;
    font-size: 1.2rem;
  }
  @include responsive(992px){
    max-width: 990px;  
  }
}
.line {
  max-width: 500px;
  width: 95%;
  margin: 0 auto;
  margin: 30px auto ;
  border-top: 2px solid $lettersColor;

  @include responsive(768px){
    max-width: 600px;
  }
  @include responsive(992px){
    max-width: 1000px;  
  }
}
.contents_2{
  max-width: 500px;
  width: 98%;
  margin: 0 auto;
  height: auto;
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: 310px 170px 170px;
  grid-template-areas: 
  "img"
  "text1"
  "text2";
  row-gap: 5px;
  justify-content: center;
  text-align: center;

  @include responsive(768px){
    max-width: 600px;
    grid-template-columns: 500px;
    grid-template-rows: 430px 170px 170px;
    grid-template-areas: 
    "img"
    "text1"
    "text2";
  }
  @include responsive(992px){
    max-width: 990px;
    grid-template-columns: 650px 250px;
    grid-template-rows: repeat(2,280px);
    grid-template-areas: 
    "img text1"
    "img text2";  
    margin-top: 40px;
  }
  .world{
    max-width: 340px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    grid-area: img;
    @include responsive(768px) {
      max-width: 500px;
    }
    @include responsive(992px) {
      max-width: 650px;
      height: 500px;
    }
  }
  .text1{
    max-width: 500px;
    grid-area: text1;

    @include responsive(768px){
      max-width: 600px;
      font-size: 1.2rem;
    }
    @include responsive(990px) {
      height: 300px;
      margin-top: 40px;
    }
  }
  .text2{
    max-width: 500px;
    grid-area: text2;

    @include responsive(768px){
      max-width: 600px;
      font-size: 1.2rem;
    }
    @include responsive(990px) {
      height: 300px;
    }
  }
}

// proyects
.cardsProyects{
  .proyectButton{
    background-color: $backGround;
    color: $lettersColor;
    font-weight: bold;
    font-family: $fontTitle;
    border: 1px solid $backgroundColor;
    &:hover{
      background-color:$first-Color;
      color: $backGround;
    }
  }
  
  .animation{
    transition: all ease .5s;
    &:hover{
      transform: translatex(20px);
    }
  }
  
}

// about
.cardsAreaAbout{
  display: grid;
  max-width: 575px;
  width: 98%;
  margin: 0 auto;
  height: auto;
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: repeat(3,350px);
  grid-template-areas: 
  "card"
  "card1"
  "card2";
  justify-content: center;
  row-gap: 2rem;
  @include responsive(768px){
    grid-template-columns: 450px;
    grid-template-rows: repeat(3,400px);
  }
  @include responsive(992px){
    max-width: 900px;
    grid-template-columns: repeat(2,450px);
    grid-template-rows: repeat(2,400px);
    grid-template-areas: 
    "card card1"
    "card2 none";
    row-gap: 0rem;
  }

  .cardAbout{
    @include flex(column,nowrap,center,center);
    text-align: center;
    p{
      padding: 10px;
    }
    i{
      font-size: 4rem;
    }
  }
  .cardAbout_1{
    background-color: $omplementColor2;
    border-radius: 8px;
    i{
      color: $backGround;
    }
    @include responsive(768px){
      p{
        font-size: 1.2rem
      }
    }
    @include responsive(992px){
      grid-area: card;
    }
  }
  .cardAbout_2{
    background-color: $backGround;
    border-radius: 8px;
    i{
      color: $lettersColor;
    }
    @include responsive(768px){
      p{
        font-size: 1.2rem
      }
    }
    @include responsive(992px){
      grid-area: card1;
    }
  }
  .cardAbout_3{
    background-color: $first-Color;
    border-radius: 8px;
    i{
      font-size: 4rem;
      color: $complementColor;
    }
    @include responsive(768px){
      p{
        font-size: 1.2rem
      }
    }
    @include responsive(992px){
      grid-area: card2;
    }
  }
}

// contacts
.formContainer{
  label{
    font-family: $fontContent;
    color: $lettersColor;
  }
}

// services
.servicesCard{
  .servicesButton{
    transform: translate(50px, 35px);
    background-color: $backGround;
    color: $lettersColor;
    font-weight: bold;
    font-family: $fontTitle;
    border: 1px solid $backgroundColor;
    &:hover{
      background-color: $first-Color;
      color: $backGround;
    }
  }
  
  .servicesAnimated{
    transition: all ease .5s;
    &:hover{
      transform: scale(1.1);}
  }
}

// proyects
.containerVideo{
  display: none;
  @include responsive(576px){
    display: block;
  }
  @include responsive(992px){
    width: 50%;
  }
}


